# Backend Configuration
JWT_SECRET=your_secret_key_change_me_in_production
PORT=4004

# EmailJS Configuration (for survey submissions)
EMAILJS_USER=JsbOdljB-zSYfbcGs
EMAILJS_SERVICE=service_dji4avl
EMAILJS_TEMPLATE=template_kxv3da
SURVEY_TO=kpehoue@gmail.com

# Admin Account (created on first run)
ADMIN_EMAIL=admin@local
ADMIN_PASSWORD=admin123

# Frontend (Expo)
REACT_APP_REMOTE_API=true
REACT_APP_REMOTE_API_URL=http://localhost:4004
